# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2.1


# the set up in which the ubuntu jobs will run:
executors:
  ubuntu-python36:
    docker:
      - image: circleci/python:3.6.1
    working_directory: ~/repo


commands:
  ubuntu_restore_all:
    description: "Restores virtual env with full install from cache, and update dependencies if need be."
    steps:
      - checkout

      - restore_cache:
          name: "[all] Restore cache"
          keys:
          - v2-dependencies-{{ checksum "requirements/dev.txt" }}-{{ checksum "requirements/main.txt"}}-{{ checksum "requirements/bench.txt"}}
          # fallback to installing main requirements
          - v2-dependencies-main-{{ checksum "requirements/main.txt"}}

      - run:
          name: "[all] Install dependencies"
          command: |
            . venv/bin/activate
            pip install -e .[all]


jobs:
  install:
    executor: ubuntu-python36

    steps:
      - checkout

      # Download and cache dependencies for "main"
      - restore_cache:
          name: "[no-extra] Restore cache"
          keys:
          - v2-dependencies-main-{{ checksum "requirements/main.txt"}}
          # fallback to using the latest cache if no exact match is found

      - run:
          name: "[no-extra] Install dependencies"
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -e .

      - run:
          name: "[no-extra] Print installation"
          when: always
          command: |
            . venv/bin/activate
            pip freeze

      - save_cache:
          name: "[no-extra] Save cache"
          paths:
            - ./venv
          key: v2-dependencies-main-{{ checksum "requirements/main.txt"}}

      - run:
          name: "[no-extra] Run basic tests (checking dependencies)"
          command: |
            . venv/bin/activate
            python -m nevergrad.optimization.requirements_check  # calls a bit of everything

      - ubuntu_restore_all

      - save_cache:
          # only this one saves cache to avoid race conditions
          name: "[all] Save cache"
          paths:
            - ./venv
          key: v2-dependencies-{{ checksum "requirements/dev.txt" }}-{{ checksum "requirements/main.txt"}}-{{ checksum "requirements/bench.txt"}}

      - run:
          name: "[all] Print installation"
          when: always
          command: |
            . venv/bin/activate
            pip freeze

      - run:
          name: "Run wheel and check package"
          when: always
          command: |
            . venv/bin/activate
            python setup.py sdist bdist_wheel
            python -c "from pathlib import Path;files = Path('nevergrad.egg-info/SOURCES.txt').read_text().split(); assert 'LICENSE' in files"
            python3 -m venv test_install
            cd ..  # don't use nevergrad locally
            . test_install/bin/activate
            # pip install dist/nevergrad-*any.whl
            python -c "from nevergrad import functions;f = functions.ArtificialFunction(name='sphere', block_dimension=2);f([2, 3])"



  mypy:
    executor: ubuntu-python36

    steps:

      - ubuntu_restore_all


      # Run all tests

      - run:
          name: "[all] Run mypy"
          command: |
            . venv/bin/activate
            mypy --version
            mypy nevergrad


  pytests:
    executor: ubuntu-python36

    steps:

      - ubuntu_restore_all

      - run:
          name: "[all] Run pytest"
          when: always
          command: |
            . venv/bin/activate
            pytest nevergrad --durations=20 --cov=nevergrad


workflows:
  version: 2
  all_ci:
    jobs:
      - install
      - mypy
      - pytests
